@using ProductsandCategories.Models
@model Product

@{
ViewData["Title"] = "Show Products";
}


<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col"> <br>
            <h1 class="card-title">@Model.Name</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-sm"> <br>
            <div class="card-body">
                <h4>
                    <p>Price: @Model.PriceString </p>
                    <p class="card-text"> Description: @Model.Description</p>
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item font-weight-bold">Categories:</li>
                @foreach (var cat in Model.AssociatedCategories) {
                <li class="list-group-item">@cat.Category.Name</li>
                }
            </ul>
        </div>
        <div class="col-2"> </div>
        <div class="col-sm"> <br>
            <h5 class="my-4">Add Category:</h5>
            <form asp-action="AddCategory" asp-controller="home" method="POST">
                <select name="Id" class="form-control mb-3">
                    @foreach (var category in ViewBag.UnassociatedCategories){
                    <option value="@category.CategoryId">@category.Name</option>
                    }
                </select>
                <button type="submit" class="btn btn-dark">Add</button>
                @Html.Raw(TempData["alertMessage"])
            </form>
        </div>
    </div>
</div>